
body{
  background-color:#cccccc;
}
h4{
  color: #FF0000;
}
.footer{
  background:#2E2EFE;
  height:30px;
}
img{
  width: auto;
  height: auto;
}
p1{
  font-size: 16px;
  color:#000000;
}
.h3{
    color: ##FF8000;
}
p{
  font-size: 20px;
}
